{{!< default}}

{{#post}}

	{{!-- The main content area on the homepage --}}
	<main id="content" class="content" role="main">

		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="col m3 s0"></div>
					<div class="input-field col m6 s12">
						<input id="name" type="text" class="validate">
						<label for="name">Name</label>
					</div>
					<div class="col m3 s0"></div>
				</div>
				<div class="row">
					<div class="col m3 s0"></div>
					<div class="input-field col m6 s12">
						<input id="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
					<div class="col m3 s0"></div>
				</div>
				<div class="row">
					<div class="col m3 s0"></div>
					<div class="input-field col m6 s12">
						<textarea id="message" type="text" class="materialize-textarea"></textarea>
						<label for="message">Message</label>
					</div>
					<div class="col m3 s0"></div>
				</div>
				<div class="center-align">
					<button class="btn-flat" type="submit" name="action">
						<i class="medium material-icons" style="font-size: 2rem !important;">send</i>
					</button>
				</div>
			</form>
		</div>

	</main>
{{/post}}