{{!< default}}

{{#post}}

	<main id="content" class="content" role="main">
		<div id="postList" class="row">
			{{#get "posts" limit="all"}}
				{{#foreach posts}}
					<div class="col s12 m4 l3" style="padding-top: .75rem;">
						<div class="tile" style="background-image: url({{img_url feature_image}})">
							<!--<img class="tile-background" src="{{img_url}}">-->
							<a href="{{url}}" class="tile-title">
								<div>{{title}}</div>
							</a>
						</div>
					</div>
				{{/foreach}}
			{{/get}}
		</div>
	</main>

{{/post}}